/* On a German Keyboard layout:
AltGR + 7 = { 
AltGr + 0 = }
*/

body {
   display: flex;
   flex-direction: column;
   justify-content: center;

}

h1, h2,h3, h4, h5, h6 {
    margin: 0px;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

nav.main-nav {
    background-color: yellow;

}

nav.main-nav > ul {
    margin: 5px 10px;
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    justify-content: space-around;
}

aside {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > h2 {
    color: red;
}

main > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main > section > figure {
   border: 2px solid black;
   padding: 10px;
   box-shadow: 10px 10px 5px gray;
   padding-bottom: 20px;
   margin: 10px;
}

main > section > figure > img {
    width: 100px;
}

main > nav > ul {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    justify-content: space-around;
}

main > nav > ul > li {
    border: 1px solid gray;
    padding: 5px;
}

main > nav > ul > li.current {
    background-color: yellow;
}

main > nav > ul > li.current > a:link {
    color: white;
}